h1{
    text-align: center;
    background-color: black;
    color: azure;
}

.table1{
    background-color: aqua;
    width: 100%;
    font-size: 26px;
}

.table2{
    background-color: aqua;
    width: 100%;
    font-size: 15px;
}